{% extends 'base.html.twig' %}

{% block title %}Hello AvatarController!
{% endblock %}

{% block body %}
	<div class="max-w-screen-xl mx-auto p-5 sm:p-8 md:p-12">
		<div class="font-std mb-10 w-full rounded-2xl bg-white p-10 font-normal leading-relaxed text-gray-900 shadow-md">
			<div class="flex flex-col md:flex-row">
				<div class="md:w-1/3 text-center mb-8 md:mb-0">
					<img src="{{ asset('assets/uploads/avatars/') ~ user.avatar.name }}" alt="{{ user.avatar.pseudo }}" class="rounded-full w-36 h-36 mx-auto mb-4 border-4 border-cyan-600 transition-transform duration-300 hover:scale-105 ring ring-gray-300">
					<a href="{{ path('app_avatar_update',{id:user.avatar.id}) }}" ><button class="mt-4 btn-amber w-48">Changer avatar</button></a>
				</div>
				<div class="md:w-2/3 md:pl-8">
					<h6 class="text-md font-bold text-cyan-600 mb-2">Pseudonyme :</h6>
					<p class="text-xl text-amber-500 mb-6">{{ user.avatar.pseudo }}</p>
					<h6 class="text-md font-bold text-cyan-600 mb-2">Information :</h6>
					<p class="text-md text-amber-500 mb-6">
						{% if user.roles[0] == 'ROLE_USER' %}
							Abonné le
							<span class="border border-cyan-400 shadow-sm rounded-full px-4 text-md text-white bg-cyan-600 py-0.5 mb-1">
								{{ user.createdAt | date('d-m-Y')}}
							</span>
						{% endif %}
					</p>
					<h6 class="text-md font-bold text-cyan-600 mb-2">Contact :</h6>
					<ul class="space-y-2 text-gray-700">
						<li class="flex items-center text-xl text-amber-500 mb-6">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-cyan-600 " viewbox="0 0 20 20" fill="currentColor">
								<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
								<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
							</svg>
							{{ user.email }}
						</li>
						<li class="flex items-center">
                        </li>
						<li class="flex items-center"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
